<%- include('../partials/header') %>
<div class="page-wrapper" style="min-height: 100vh;">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card">
          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            <div class="card-body">
              <h4 class="card-title text-center">Edit Admin Info</h4>
              <% let name = admin.name.split(" "); %>
              
              <div class="form-group row">
                <label for="fname" class="col-sm-3 text-end control-label col-form-label">First Name</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="fname"
                    name="fname"
                    value="<%= name[0] %>"
                    placeholder="First Name Here"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="lname" class="col-sm-3 text-end control-label col-form-label">Last Name</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="lname"
                    name="lname"
                    value="<%= name[1] %>"
                    placeholder="Last Name Here"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="email" class="col-sm-3 text-end control-label col-form-label">Email</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    value="<%= admin.email %>"
                    placeholder="Email Here"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="password" class="col-sm-3 text-end control-label col-form-label">Password</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="password"
                    name="password"
                    value="<%= admin.password %>"
                    placeholder="Password Here"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="gender" class="col-sm-3 text-end control-label col-form-label">Gender</label>
                <div class="col-sm-9">
                  <div class="form-check">
                    <input
                      type="radio"
                      class="form-check-input"
                      id="male"
                      name="gender"
                      value="male"
                      <% if (admin.gender === "male") { %>checked<% } %>
                    />
                    <label class="form-check-label mb-0" for="male">Male</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="radio"
                      class="form-check-input"
                      id="female"
                      name="gender"
                      value="female"
                      <% if (admin.gender === "female") { %>checked<% } %>
                    />
                    <label class="form-check-label mb-0" for="female">Female</label>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="hobby" class="col-sm-3 text-end control-label col-form-label">Hobby</label>
                <div class="col-sm-9">
                  <% ["dance", "music", "reading"].forEach(hobby => { %>
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="<%= hobby %>"
                        name="hobby"
                        value="<%= hobby %>"
                        <% if (admin.hobby.includes(hobby)) { %>checked<% } %>
                      />
                      <label class="form-check-label mb-0" for="<%= hobby %>">
                        <%= hobby.charAt(0).toUpperCase() + hobby.slice(1) %>
                      </label>
                    </div>
                  <% }); %>
                </div>
              </div>
              
              <div class="form-group row">
                <div class="text-center mb-3">
                  <img src="../<%= admin.image %>" alt="<%= admin.name %>" width="100">
                  <input type="hidden" value="<%= admin.image %>" name="oldImage" />
                </div>
                <label for="image" class="col-sm-3 text-end control-label col-form-label">Image</label>
                <div class="col-sm-9">
                  <input
                    type="file"
                    class="form-control"
                    id="image"
                    name="image"
                  />
                </div>
              </div>
            </div>

            <div class="border-top">
              <div class="card-body">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
